# build directorys
/build.*
/.fakeroot.*

# automatically downloaded source files
/sources
/.stamps/

# prebuild target binarys to provide
/target/

# scripts for getting and packing source packages
/tools/mkpkg/*
!/tools/mkpkg/mkpkg_*

# mkpkg temp
mkpkg-temp

# private working directory
/.work

# ignore backup files
*~
*.bak

# IDE related files and folders
/.anjuta/
/.anjuta_sym_db.db
/OpenELEC.tv.anjuta
