### iMX Video drivers ####

CONFIG_MXC_IPU=y
CONFIG_VIDEO_MXC_OUTPUT=y

CONFIG_VIDEO_DEV=m

CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y

CONFIG_MEDIA_COMMON_OPTIONS=y
CONFIG_MEDIA_SUBDRV_AUTOSELECT=y

CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_VIDEO_MXC_OUTPUT=y
# CONFIG_VIDEO_MXC_CAPTURE is not set
CONFIG_VIDEO_MXC_IPU_OUTPUT=y
# CONFIG_VIDEO_MXC_PXP_V4L2 is not set
# CONFIG_SOC_CAMERA is not set
